input,button{
    border-radius: 0px;
}
.underline{
    height: 5px;
    width: 40px;
    position: relative;
    top: -15px;
    left: 13px;
    border-radius: 5px;
}

@media (max-width:600px) {
    .container{
        width:95vw !important;
    }
}