
<div class="container w-50 p-3 shadow boder">
    <p>Student info</p>
    <div class="border mt-2 d-flex justify-content-between px-2" *ngFor="let item of getStudent let i=index">
        <p class="pt-1">Firstname: <span class="fw-bold">{{item.Firstname}}</span></p>
        <div class="dropdown mt-1">
            <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Action
            </button>
            <ul class="dropdown-menu px-1">
              <li class="bg-danger text-white mt-1"><a class="dropdown-item" href="#" (click)="del(i)">Delet</a></li>
              <li class="bg-warning mt-1"><a class="dropdown-item " href="#" (click)="edit(i)">Edit</a></li>
              <li class="bg-success text-white mt-1"><a class="dropdown-item" href="#" (click)="view(i)">View</a></li>
            </ul>
          </div>
    </div>
</div>

<div class="cover" *ngIf="showView=='visible'">
    <div class="board mt-2">
        <div class="d-flex">
            <p class="text-center w-100 p-2 border bg-light">{{eachuser.Firstname}}</p>
            <p class="text-center w-100 p-2 border bg-light">{{eachuser.Lastname}}</p>
        </div>
        <div class="d-flex">
            <p class="text-center w-100 p-2 border bg-light">{{eachuser.Gender}}</p>
            <p class="text-center w-100 p-2 border bg-light">{{eachuser.Email}}</p>
        </div>
    </div>
</div>
